<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>facturaimpresa</title>

<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>

</head>

<body>

<h2>Factura</h2>

<table>
  <tr>
  	<th>ID Factura</th>
  	<th>Producto</th>
  	<th>Precio</th>
  	<th>Cantidad</th>
  </tr> 
  <tr th:each="ite: ${listaItem}">
  	
     <td th:text="${ite.getProducto().getIdproducto()}"></td> 
       <td th:text="${ite.getProducto().getNombrepro()}"></td> 
       <td th:text="${ite.getProducto().getPrecio()}"></td> 
          <td th:text="${ite.getQty()}"></td> 
          </tr>
</table>

<p th:text="'Importe total: ' + ${total}"></p>

</body>

</html>